.block1 {
    position: fixed;
    z-index: 4;
    right: 10px;
    top: -27px;
    
    color: rgb(0, 204, 255);
    
  }
.img {
  position: relative;
  height: 1010px;
  width: 1510px;
  top: -300px;
  left: -8px;
  
  
}
.txt {
    position: relative;
    z-index: 1;
    color: rgb(255, 255, 255);
    top: 40px;
    font-size: 100px;
    font-weight: 200;
    line-height: 100px;
    text-align: left;
}

.block2 {
  position: fixed;
  z-index: 1;
  top: -17px;
  color: rgb(0, 204, 255);
  
  text-align: left;
  word-spacing: 15px;
}
.block3{
  position: fixed;
  z-index: 2;
  color: rgb(0, 204, 255);
  top: -15px;
  right: 750px;
}

.block4{
  position: relative;
  z-index: 5;
  color: aliceblue;
  top: 40px;
}
.block5{
  position: relative;
  z-index: 2;
  top: -315px;
  
}  
.block6{
  position: relative;
  top: -250px;
}
.block7{
  position: relative;
  color: aliceblue;
  z-index: 1;
  top: 40px;

}
.img2{    
  position: relative;
  height: 200px;
  top: -750px;
  left: 900px;
}
.img3{
  position: relative;
  top: -410px;
  left: 200px;
}
.block8{
  position: relative;
  color: rgb(255, 255, 255);
  z-index: 2;
  top: -1753px;
  left: 200px;
}