.img {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
  filter: blur(20px) opacity(0.5);
}

.writeMe{
  color: #830000;
  cursor: pointer;
}
.title {
  color: black;
  margin: auto 0;
  font-size: 100px;
  font-weight: 200;
  line-height: 100px;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;

}
a {
  text-decoration: none;
  color: black;
}

.FirstBlock{
  position: relative;
  height: 500px;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding: 20px;
}
body{
  margin: 0;
  font-family: 'Helvetica Neue';
}
.Header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-size: clamp(10px, 1vw, 50px);
  margin-top: 32px;
  margin-right: 20px;
}

.subtitle {
  color: black;
  margin-top: 8%;
  font-size: 30px;
  text-align: left;
}
.block5 {
  /* TODO почему в absolute? */
  margin-top: 7%;
  z-index: 2;
  font-size: clamp(10px, 2vw, 50px);
}
.block6 {
  /* TODO почему в absolute? */

  margin-top: 4%;
  font-size: clamp(10px, 2vw, 50px);
}

